/* static/css/sigin.css */

html,
body {
  height: 100%;
}

body {
  /* Only apply these styles when the page doesn't extend base.html */
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f8f9fa; 
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

/* Custom styling for input grouping on the login form */
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
  margin-bottom: -1px; 
  border-radius: 0;
}

.form-signin #id_username {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.form-signin #id_password {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.form-signin input[type="submit"] {
    margin-top: 10px;
}